body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #bdf1eb;
    
}

h1 {
    font-size: 300%;
    color: #757275;
}

li {
    list-style: none;
}