body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #d0f4f4;
    
}


li {
    list-style: none;
}
h2{
    font-size: 300%;
    color: #757275;
    text-align: center;
}