body {
   
    background-color: #d0f4f4;

    
}
.check_se{
    width: 40vw;
    margin: 0 auto;
}
h2 {
   
    font-size: 300%;
    color: #757275;
}

li {
    list-style: none;
}

.mztm_inner{
    width: 40vw;
    margin: 0 auto;
}
.btn-flat-border {
    display: block;
    padding: 0.3em 1em;
    margin: 0 auto;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }
  .flex{
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }