body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:  #d0f4f4;
  }
  h1{
    font-size: 300%;
    color: #757275;
    
  }