<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認画面</title>
    <link rel="stylesheet" href="design2.css">
</head>
<body>
    <action="./chik.php" method="get">

        入場日：
        <p>!dat!</p>
        入場時間：
        <p>!time!</p>
        枚数選択:
        <P>!mai!</p>
        購入者氏名：
        <p>!name!</p>
        <!--この下に置き換え用の文字列を準備する-->
        フリガナ：
        <P>!furi!</P>
        電話番号：
        <p>!phone!</p>
        性別：
        <p>!gender!</p>
        生年月日:
        <p>!birthday!</p>
        都道府県：
        <p>!prefecture!</p>


        <form action="saishu.php" method="post">
            <!-- 他のフォーム要素をここに追加 -->
            <button type="button" onclick="history.back()" style="width:60px;height:30px">戻る</button>
            <input type="submit" name="send" value="送信" style="width:60px;height:30px">
        </form>
    
</body>
</html>