<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>確認画面</title>
    <link rel="stylesheet" href="design2.css">
</head>
<body>
    <action="./chik.php" method="get">

        <p>入場日：!dat!</p>
        <p>入場時間：!time!</p>
        <P>枚数選択:!mai!</p>
        <p>購入者氏名：!name!</p>
        <!--この下に置き換え用の文字列を準備する-->
        <P>フリガナ：!furi!</P>
        <p>電話番号：!phone!</p>
        <p>性別：!gender!</p>
        <p>生年月日:!birthday!</p>
         <p>都道府県：!prefecture!</p>


        <form class="flex" action="saishu.php" method="post">
            <!-- 他のフォーム要素をここに追加 -->
            <button href="#" class="btn-flat-border" type="button" onclick="history.back()" style="width:60px;height:30px">戻る</button>
            <input href="#" class="btn-flat-border"type="submit" name="send" value="送信" style="width:60px;height:30px">
        </form>
    
</body>
</html>